/*FONTS*/
@font-face {
    font-family: 'HelveticaNeueBD';
    src: url(assets/fonts/HelveticaNeueLTPro-BdEx.otf);
}
@font-face {
    font-family: 'HelveticaNeueMD';
    src: url(assets/fonts/HelveticaNeueLTPro-MdEx.otf);
}

/* COLORS */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --lightgrey-color: #d9d9d9;
    --darkgrey-color: #afafaf;
}

* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: HelveticaNeueBD;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #ffffff;
    justify-content: space-between;
}

.nav-logo a {
    width: 301px;
    height: 38px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 100px;
    padding-top: 31px;
    padding-bottom: 31px;
}

.nav-logo img {
    height: 38px;
    width: 38px;
}

.nav-logo-text {
    padding-left: 1px; /* adjust as needed */
    font-family: HelveticaNeueBD;
    font-size: 24px;
    color: #000000;
    text-shadow: 
    /* Adds a grey shadow offset 1px in both directions */
    1px 1px 0px rgba(175, 175, 175, 1);
}

.nav-sections {
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-top: 39px;
    padding-bottom: 39px;
}

.nav-sections a {
    width: 140px;
    height: 20px;
    align-items: center;
    text-decoration: none;
    font-family: HelveticaNeueMD;
    font-size: 22px;
    text-align: center;
    color: #000000
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.frame {
    display: flex;
    aspect-ratio: 16/9;
    max-width: 1240px;
    max-height: 696px;
    cursor: pointer;
    overflow: hidden;
} 

.slides-container {
    display: flex;
    width: 100%; 
    height: 100%; 
    transition: all 800ms ease;
}

.arrow-left {
    position: absolute;
    width: 70px;
    height:70px;
    cursor: pointer;
    margin-right: 1240px;
}

.arrow-right {
    position: absolute;
    width: 70px;
    height:70px;
    cursor: pointer;
    margin-left: 1240px;
}


