/*FONTS*/
@font-face {
    font-family: 'HelveticaNeueBD';
    src: url(assets/fonts/HelveticaNeueLTPro-BdEx.otf);
}
@font-face {
    font-family: 'HelveticaNeueMD';
    src: url(assets/fonts/HelveticaNeueLTPro-MdEx.otf);
}

/*COLORS*/
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --lightgrey-color: #d9d9d9;
    --darkgrey-color: #afafaf;
}

.slider-container {
    padding: 50px;
}

.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    overflow: hidden;
    
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.slider-nav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--darkgrey-color);
    opacity: 1;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 0.65;
}
