/*FONTS*/
@font-face {
    font-family: 'HelveticaNeueBD';
    src: url(assets/fonts/HelveticaNeueLTPro-BdEx.otf);
}
@font-face {
    font-family: 'HelveticaNeueMD';
    src: url(assets/fonts/HelveticaNeueLTPro-MdEx.otf);
}

/* COLORS */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --lightgrey-color: #d9d9d9;
    --darkgrey-color: #afafaf;
}
/* HEADER */

/* BODY */

body {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.arrow-left {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.arrow-right {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.frame {
    width: 1240px;
    height: 696px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.5rem hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: all 800ms ease;
}

.img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 18px;
}

.dot {
    width: 18px;
    height: 18px;
    background-color: var(--darkgrey-color);
    border-radius: 50%;
    cursor: pointer; 
}